{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<h1 class="text-3xl my-10 italic uppercase text-center text-orange-500"> 
    {{page.title}}
</h1>
<h2 class="text-2xl my-10 italic uppercase text-center text-orange-500">
    {{page.subtitle}}
</h2>

<section>
    {% include "sections/cta_section.html" %}
</section>


{% if page.body %}
    {{page.body|richtext}}
{% endif %}

{% if page.image %}
    <p>400</p>
    {% image page.image width-400 format-avif-lossless %}

    <p>fill 150x150</p>
    {% image page.image fill-150x150-c100 %}

    <p>custom img</p>
    {% image page.image fill-90x200 as custom_img %}
    <img src="{{custom_img.url}}" alt="{{custom_img.alt}}">
    {{custom_img.image.title}} 

{% endif %}

<section class="mt-12">
    {{page.context_var}}

</section>




{% endblock content %}
